<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('includes/head') %>
</head>

<body>
  <%- include('includes/header') %>
    <%- include('includes/aside') %>
      <main>
        <h1>500 ERROR</h1>
        <p>
          Internal Server Error.
        </p>
      </main>
</body>

</html>